@model ShowReservationVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-10">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Reservations List</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Reservation Id</th>
                                <th>GameId</th>
                                <th>Game Name</th>
                                <th>Player ID</th>
                                <th>Player Name</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Example User Row (replace with actual user data) -->
                            @foreach (ReservationVM u in Model.Reservations)
                            {
                                <tr>
                                    <td>@u.Id</td>
                                    <td>@u.GameId</td>
                                    <td>@u.GameName</td>
                                    <td>@u.PlayerId</td>
                                    <td>@u.PlayerName</td>
                                    <td>@u.StartTime</td>
                                    <td>@u.EndTime</td>

                                    <td>
                                        <a class="btn btn-primary btn-sm"
                                           asp-route-id="@u.Id"
                                           asp-action="EndGame"
                                           asp-controller="GameReservation">EndGame</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-primary btn-sm"
                                           asp-route-id="@u.Id"
                                           asp-action="Edit"
                                           asp-controller="GameReservation">Edit</a>
                                    </td>
                                    <td>
                                        <a asp-route-id="@u.Id"
                                           asp-action="Delete"
                                           asp-controller="GameReservation"
                                           class="btn btn-danger btn-sm">Delete</a>
                                    </td>
                                </tr>

                            }

                            <!-- Add more columns as needed -->
                            <!-- Add more rows for additional users -->
                        </tbody>
                    </table>
                    <a class="btn btn-primary btn-sm" asp-area="" asp-controller="GameReservation" asp-action="Create">Create Reservation</a>
                    <br />
                    <br />
                    <a class="btn btn-primary btn-sm" asp-area="" asp-controller="GameReservation" asp-action="ShowGameHistory">ShowGameHistory</a>
                </div>
            </div>
        </div>
    </div>
</div>

